* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

html {
  font-size: 65.5%;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

a {
  display: flex;
}

.navBar {
  height: 15rem;
  width: 100vw;
  background: #001d38;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navBar--img {
  height: 5rem;
}

.search-container {
  display: flex;
}

.input-search {
  height: 3rem;
  width: 14rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-family: "Righteous", cursive;
  letter-spacing: 0.02rem;
}

.search-icon {
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
  margin-top: 0.4rem;
  cursor: pointer;
}

.countrySelection {
  height: 12rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countrySelection--h3 {
  font-size: 2rem;
  padding-left: 4%;
  padding-right: 4%;
  cursor: pointer;
  font-family: "Righteous", cursive;
  letter-spacing: 0.1rem;
}
.countrySelection--h3:hover {
  color: #017FC3;
}

.active {
  font-size: 2rem;
  padding-left: 4%;
  padding-right: 4%;
  cursor: pointer;
  font-family: "Righteous", cursive;
  letter-spacing: 0.1rem;
  color: #017FC3;
}

.active-first {
  font-size: 2rem;
  padding-left: 4%;
  padding-right: 4%;
  cursor: pointer;
  font-family: "Righteous", cursive;
  letter-spacing: 0.1rem;
  color: #017FC3;
  padding-top: 0.4rem;
}

.newsSection {
  min-height: 70rem;
  width: 100vw;
}

.newsContainer {
  min-height: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}
.newsContainer--news {
  height: 30rem;
  width: 38rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1rem;
  cursor: pointer;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.newsContainer--news__newsIMG {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsContainer--news__newsIMG--img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
}
.newsContainer--news__newsTitle {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
  background: #001d38;
}
.newsContainer--news__newsTitle--h2 {
  color: white;
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  max-width: 45ch;
  padding-top: 0.8rem;
}

.footer {
  height: 12rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: #001d38;
}
.footer--h4 {
  color: white;
  padding-left: 4%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  font-family: "Righteous", cursive;
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
}
.footer--h4Text {
  color: white;
  padding-left: 4%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  font-family: "Righteous", cursive;
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
}
.footer--h4:hover {
  color: #017FC3;
}

.modal-header {
  height: 10rem;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  background: #001d38;
}

.close span {
  font-size: 3rem;
  color: white !important;
  margin-right: 2rem;
  margin-bottom: 4rem;
}

.modal-img {
  height: 4rem;
  padding-left: 8rem;
}

.modalTitle {
  font-size: 2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.05rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding: 1.8rem;
}

.modalDate {
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.05rem;
  padding-bottom: 4rem;
  padding-left: 3.2rem;
  color: #919191;
}

.modalIMGcontainer {
  height: 40%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20%;
}
.modalIMGcontainer--img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.modalContent {
  font-size: 1.3rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.05rem;
  padding-top: 4rem;
  padding: 1.8rem;
}

@media (max-width:600px) {
  .countrySelection--h3 {
    font-size: 1.4rem;
  }

  .active {
    font-size: 1.4rem;
  }

  .newsContainer--news {
    height: 30rem;
    width: 40rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
  }
}
@media (min-width:601px) and (max-width: 1023px) {
  .countrySelection--h3 {
    font-size: 1.6rem;
  }

  .active {
    font-size: 1.6rem;
  }

  .newsContainer--news {
    height: 30rem;
    width: 35rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
  }
}
.aboutSection {
  height: 82rem;
  width: 100vw;
  display: flex;
}
.aboutSection--left {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.aboutSection--left__img {
  height: 50%;
  width: 40rem;
  border-radius: 50%;
  background: url(../img/lewi.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 6rem;
}
.aboutSection--right {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-right: 4rem;
}
.aboutSection--right__h1 {
  font-size: 4rem;
  font-family: "Righteous", cursive;
  text-align: center;
  padding-bottom: 0.6rem;
  letter-spacing: 0.2rem;
}
.aboutSection--right__h6 {
  font-size: 1.4rem;
  font-family: "Righteous", cursive;
  text-align: center;
  color: #919191;
  padding-bottom: 2.4rem;
  letter-spacing: 0.2rem;
}
.aboutSection--right__p {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  text-align: left;
  max-width: 50ch;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

@media (max-width:600px) {
  .aboutSection--left {
    display: none;
  }
  .aboutSection--right {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-right: 0rem;
  }
  .aboutSection--right__h1 {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 0.6rem;
    letter-spacing: 0.2rem;
  }
  .aboutSection--right__h6 {
    font-size: 1.4rem;
    text-align: center;
    color: #919191;
    padding-bottom: 2.4rem;
    letter-spacing: 0.2rem;
  }
  .aboutSection--right__p {
    font-size: 1.3rem;
    text-align: center;
    max-width: 50ch;
    letter-spacing: 0.05rem;
  }
}
@media (min-width:601px) and (max-width: 1023px) {
  .aboutSection--left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .aboutSection--left__img {
    height: 40%;
    width: 75%;
    margin-right: 6rem;
  }
  .aboutSection--right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-right: 4rem;
  }
  .aboutSection--right__h1 {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 0.6rem;
    letter-spacing: 0.2rem;
  }
  .aboutSection--right__h6 {
    font-size: 1.4rem;
    text-align: center;
    color: #919191;
    padding-bottom: 2.4rem;
    letter-spacing: 0.2rem;
  }
  .aboutSection--right__p {
    font-size: 1.4rem;
    text-align: left;
    max-width: 50ch;
    letter-spacing: 0.05rem;
  }
}